body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    direction: rtl;
}

img {
    width: 250px;
    height: 250px;
    margin: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
}