h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

.avatar-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease; /* אנימציה חלקה */
}

.avatar:hover {
    transform: scale(1.6); / *הגדלה ב-10% בעת העכבר מעל האווטאר */
}

.avatar-selected {
    border: 2px solid blue; / *צביעת האווטאר הנבחר בצבע כחול */
}